

<h1 class="text-center">Workspace Settings</h1>
<p class="lead text-muted text-center">You can manage your categories and tags on this workspace. Let's try it!</p>
<br><br>

<%= render 'categories/index' %>
<%= render 'tags/index'%>


