<div class="text-center">
  <div class="container">
    <h1>Your Account Information</h1>
    <h2><strong>Username: </strong><%= current_user.username %></h2>
    <h2><strong>Email:</strong><%= current_user.email %></h2>
  </div>
</div>